{% load static %}{% include './elements/header.html' %}
<div class="container-scroller">
    {% include './elements/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        {% include './elements/settings.html' %}

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% if user.is_authenticated %} {% include './elements/sidebar.html' %} {% include './elements/csvupload.html' %}
        <div class="collectionview">
            {% for csv in csvviews%}
            <div class="uploadSection">
                <div class="drag-area">
                    <div class="icon">
                        <i class="fa fa-file-csv"></i>
                    </div>
                    <span class="header">
                            <form method="POST" id="editcollection{{csv.id}}" style="display:none;">
                                {% csrf_token %}
                                <input style="color: black;border: 0px;text-align: center;text-decoration: underline" class="browsebutton" type="text" name="name" id="" value="{{csv.fileName}}">
                                <input hidden type="text" name="id" id="" value="{{csv.id}}">
                                <div style="margin: auto;">
                                <input class="mybtn btn btn-info" style="border: 0px;text-align: center;width: fit-content;margin: auto;"  type="submit" value="update">
                                </div>
                        
                            </form>
                            <div style="margin: auto;display:none;" id="colldelete{{csv.id}}">
                                <a href="/csvdelete/{{csv.id}}" style="display: grid;"><button type="button " class="mybtn btn btn-info ">Delete</button></a>
                            </div>

                    <span class="header" id="collname{{csv.id}}"> <span class="browsebutton">{{csv.fileName}}</span></span>
                    <!-- <input type="file" hidden id="fileToUpload" type=".csv" /> -->
                    </span>
                    <div class="support">Files: {{csv.id}}</div>

                    <div>

                        <button type="button " id="colleditbutton{{csv.id}}" class="mybtn btn btn-info" onclick="collectionEdit('{{csv.id}}')">Edit</button>
                        <a href="/readcsv/{{csv.id}}"><button type="button " class="mybtn btn btn-info ">View</button></a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% include './elements/footer.html' %}